body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: blue;
    margin-bottom: 10px;
    cursor: pointer; /* Add pointer cursor for clickable sections */
    font-size: 35px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

.hidden {
    display: none; /* Hide menu items by default */
}